@import 'module';

.content{
	padding:30px 0px 0px 0px;
	background-color:$second_color;
	color:$first_color;
}

.open {
  >.dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);  
    opacity:1;
  }
}
.dropdown-menu {

  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block; 
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  width:220px;
  color:$first_color;

}
.dropdown{
color:$first_color;
	&:hover{
  	.dropdown-menu {
      display: block;
      opacity: 1;
      }
  }

}
ul.nav-right-menu{
background-color:$second_color;
  >li{
    >a{
      color:$first_color;
      transition: all 0.5s ease;

      &:hover{
        background-color:$third_color;
        @include border-radius(10px);
      }

    }
  }  
}
.table-bordered {
  thead{
      tr:first-child{
          background-color:$third_color;
      }
  }
}
.dropdown-right-button{
  background-color:$first_color;
  color:$second_color;
}
.navbar-nav>li>a {
  @include border-radius(10x);
}