@import 'module';

.header{
	background-color:$first_color;
	color:$second_color;
	h1{
		padding:0px 0px 5px 0px;
		color:$second_color;
	}
	.user_container{
		padding:10px 0px 0px 0px;
	.list-unstyled	{
		padding-top:10px;
		color:$second_color;
	}
	.user_slug{
		font-weight:bold;
		font-size:14px;
	}
	}
	li.logout{
		font-size:30px;
		vertical-align:middle
	}
	li.user_info{
		vertical-align:bottom;
	}
	.user_img{
		min-width:60px;
	}
	a{
		color:$second_color;
		&:hover{
			color:$third_color;
		}
	}
}